logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vscode
assets
src
tools

babel.config.json
rollup.config.js
.eslintrc.json
.prettierrc.json
jsconfig.json

package-lock.json

*.local

desktop.ini
